.error {
    border-color: #ff2121 !important;
    animation: error 0.82s cubic-bezier(.36,.07,.19,.97) both;
  }

  .show{
    display: block;
  }
  .hidden{
    display: none;
  }
  
  .row{
    margin-bottom:15px;
  }

  @keyframes error {
    10%, 90% {
      transform: translateX(-1px);
    }
    
    20%, 80% {
      transform: translateX(2px);
    }
  
    30%, 50%, 70% {
      transform: translateX(-4px);
    }
  
    40%, 60% {
      transform: translateX(4px);
    }
  }

  @media(min-width: 300px){
    .four{
      width: 75%;
    }
    .two{
      width: 25%;
    }
    .one{
      width: 100%;
      box-sizing: border-box;
    }
  }

  select:disabled {
    background: #dddddd;
    color: #757575;
  }
  
  input[type=number]:disabled {
    background: #dddddd;
    color: #757575;
  }